@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('/fonts/helvetica-neue-regular.ttf') format('truetype');
}

.custom-outline-font {
  font-family: 'HelveticaNeue', sans-serif;
}

.custom-scrollbar {
  @apply overflow-y-auto;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 7px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #e6e7eb;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #8265ff;
  border-radius: 4px;
}

html {
  scroll-behavior: smooth;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #ffffff;
  color: #000000;
  font-family: 'HelveticaNeue', Helvetica, sans-serif;
}
